.css-1hjrgzd-MuiTooltip-tooltip {
  position: absolute;
  top: 20px;
  right: 0;
  width: 311px;
  background-color: #e86513 !important;

  color: #f5f5f5;
  padding: 12px;
  margin: 0 20px 0 !important;
}

.css-kudwh-MuiTooltip-arrow {
  position: absolute;
  right: 10px !important;
  color: #e86513 !important;
}

.css-1d3ml05-MuiPopper-root-MuiTooltip-popper {
  margin: 0;
}
